<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Pessoas</title>
</head>
<body>
    <h1>Cadastrar Pessoas</h1>
    <form th:action="@{/pessoas/cadastrar}" th:object="${pessoa}" method="post">
        <div>
            <label>Nome:</label>
            <input type="text" th:field="*{nome}" placeholder="Nome Completo" />
            <div th:if="${#fields.hasErrors{'nome'}}" th:errors="*{nome}"></div>
        </div>
        <div>
            <label>Idade:</label>
            <input type="number" th:field="*{idade}" placeholder="Idade"/>
            <div th:if="${#fields.hasErrors{'idade'}}" th:errors="*{idade}"></div>
        </div>

        <button type="submit">Salvar</button>

        <a th:href="@{/pessoas/listar}">Voltar à lista</a>
    </form>
</body>
</html>