<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Produtos</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <main class="main-content">

        <h1>Cadastrar Produtos</h1>
        <form th:action="@{/produtos/cadastrar}" th:object="${produto}" method="post">
            <div>
                <label>Nome: </label>
                <input type="text" th:field="*{nome}" placeholder="Nome do Produto" />
                <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
            </div>
            <div>
                <label>Quantidade: </label>
                <input type="number" th:field="*{quantidade}" placeholder="Quantidade do Produto" />
                <div th:if="${#fields.hasErrors('quantidade')}" th:errors="*{quantidade}"></div>
            </div>
            <div>
                <label>Preço: </label>
                <input type="number" th:field="*{valor}" placeholder="valor do Produto" />
                <div th:if="${#fields.hasErrors('valor')}" th:errors="*{valor}"></div>
            </div>

            

            <button type="submit" class="botao">Salvar</button>
        </form>
    </main>

    <footer>
        <p>2025 Meu App</p>
    </footer>
</body>

</html>